.parent{
    position: relative;
}
.child{
    position: absolute;
    top: 30%;
    left: 30%;
    bottom:60%;
    text-align: center;
    font-weight:600;
    font-size:200%;    
}
.btn
{
    color: black;
    border: 1px solid black;
    background-color: white;
    padding: 10px;
}
.btn:hover{
    color:white;
    background-color: blue;
    cursor: pointer;

}
.btn1
{
    color: black;
    border: 1px solid black;
    background-color: white;
    padding: 10px;
}
.btn1:hover{
    color: white;
    background-color: blue;
    cursor: pointer;
}